body {
    height: 160vh;
    background: linear-gradient(0deg, #0c0a1c, #1b1d42);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

#searchStock {
    width: flex;
    height: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-color: white;
    padding: 5px;
    font: inherit;
    outline: inherit;
    margin-top: 5vh;
    margin-left: 5vh;
}

#searchStock::placeholder {
    color: white
}

#search_stock {
    width: 30vh;
    margin: auto;
}

#chart {
    height: 50vh;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: auto;
    text-align: center;
}

#search-Co {
    display: flex;
    width: 70vh;
    flex-direction: column;
    align-items: center;
    margin: auto
}

#searchCo {
    width: 20vh;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-color: white;
    padding: 5px;
    font: inherit;
    outline: inherit;
    margin-top: 5vh;
}

.searchCoForm {
    width: 20vh;
    color: white;
    border-color: white;
    padding: 5px;
    font: inherit;
    outline: inherit;
    margin-top: 5vh;
}

#searchCo::placeholder {
    color: white
}

#displaySearch {
    height: flex;
    padding-top: 30px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}

#insider {
    background: none;
    color: white;
    border-color: white;
    padding: 5;
    font: inherit;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.insiderData {
    flex-direction: column;
    justify-content: center;
}

.infoContainer, .insiderContainer {
    position: relative;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.companyInfoContainer {
    position: relative;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}

.infoContainer:after, .insiderContainer:after {
    content: "";
    background-color: #FFFFFF;
    border-radius: 5px;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -40px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.infoContainer:active:after, .insiderContainer:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.infoContainer:hover {
    transform: scale(1.2);
}